contrib/tapo-c120/** text=auto eol=lf
contrib/tapo-c120/**/*.tgz -text
contrib/tapo-c120/stock-install/kit/** -text
contrib/tapo-c120/stock-install/kit/*.json text eol=lf
contrib/tapo-c120/stock-install/*.cmd text eol=crlf
br-ext-chip-sigmastar/board/tapo-c120/overlay/usr/share/openipc/*.sh text eol=lf
.github/scripts/check_target_modules.sh text eol=lf
.github/**/*.sh text eol=lf
general/package/majestic/files/S95majestic text eol=lf
general/scripts/rootfs_script.sh text eol=lf
general/** text=auto eol=lf
br-ext-chip-sigmastar/** text=auto eol=lf
